@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    color: rgb(0, 0, 0);
}

/* .mainN{
    position: relative;
    bottom: -4rem;
    left:-10px;
} */

.mainN1{
  position: relative;
  bottom: -4rem;
  left:-10px;
}

.heading{
  position: relative;
  right: -24px;
}

.background {
    background: url("https://img.freepik.com/free-photo/assortment-sorted-tech-objects_23-2148996917.jpg")
    rgba(0, 0, 0, 0.61);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  filter: blur(0px);
  min-height: 800px;
  
  }

.main{
  position: relative;
  bottom: -4rem;
  left:-10px;
}

h1 {
  margin-bottom: 8%;
  text-align: center;
  font-family: 'Poppins',sans-serif;
  color: #fff;
  letter-spacing: 0.1em;
}

p {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
}

p span {
  background:#000000;
  padding:0 10px;
  color: antiquewhite;
}

input {
  margin-bottom: 3%;
}

::placeholder{
  color: #fff;
}

input:last-of-type {
  margin-bottom: 0;
}

input, button {
  padding: 3%;
  width: 100%;
}

.login-container {
    animation: saru 4000ms 0ms infinite normal forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 70vh;
    margin: 10vh auto;
    background: #1b1b1b;
    box-shadow: 0 0 15px rgb(255, 255, 255);
    border-radius: 25px;
    position: relative;
    top: -3rem;
}

/* @keyframes saru {
  0%{
      border-color:antiquewhite;
      box-shadow: 1rem 1rem 2rem antiquewhite;
  }
  25%{
      border-color: rgb(238, 238, 118);
      box-shadow: 1rem 1rem 2rem rgb(238, 238, 118);
  }
  50%{
      border-color: rgb(47, 120, 255);
      box-shadow: 1rem 1rem 2rem rgb(47, 154, 255);
  }
  75%{
      border-color: rgb(238, 238, 118);
      box-shadow: 1rem 1rem 2rem rgb(238, 238, 118);
  }
  100%{
      border-color:antiquewhite;
      box-shadow: 1rem 1rem 2rem antiquewhite;
  }
} */

input {
    background: transparent;
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    margin: auto;
    color: white;
    font-size: 17px;
}

span {
    user-select: none;
    margin: 5px;
    color: rgb(172, 172, 172);
    background: rgba(85, 81, 81, 0.637);
    padding: 5px;
    border-radius: 18px;
  }

  .form-item {
    display: flex;
    width: 120%;
    background: transparent;
    margin: 20px auto;
    border-radius: 15px;
    align-items: center;
    border-bottom: 1px solid rgb(255 255 255);
  }

  .form-item1 {
    display: flex;
    width: 100%;
    background: transparent;
    margin: 20px auto;
    border-radius: 15px;
    align-items: center;
    border-bottom: 1px solid rgb(255 255 255);
  }

  .form-item:hover,.form-item1:hover {
    border: 1px solid rgb(255 255 255);
    transition: 0.3s;
   

}

#submit, #create-acct-btn {
    width: 180px;
    font-size: 20px;
    margin: 10px auto;
    padding: 8px;
    background: rgba(122, 123, 116, 0.72);
    border: none;
    color: white;
    border-radius: 25px;
}

#submit:hover, #create-acct-btn:hover,#sign-up:hover{
  background:  rgb(24, 81, 135);
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

#sign-up {
  width: 180px;
  font-size: 20px;
  margin: 10px auto;
  padding: 8px;
  background: rgba(122, 123, 116, 0.72);
  border: none;
  color: white;
  border-radius: 25px;
}

#create-acct {
  display: none;
}

#return-btn {
  background: none;
  color: antiquewhite;
  text-decoration: none;
  border: none;
  margin-top: 3%;
}

header {
  position: relative;
  top: -10px;
}

.logo img {
  width: 180px;
  position: relative;
  top: 1rem;
  left: 42%;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

a{
  text-decoration: none;
}